name: Server CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      # Tell GitHub to run these commands INSIDE the server folder
      - name: Install dependencies
        working-directory: ./server
        run: npm install

      - name: Run Tests
        working-directory: ./server
        run: npm test
